---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <HeaderLink href="/">cade.site</HeaderLink>
    <HeaderLink href="/blog">/blog</HeaderLink>
    <HeaderLink href="/links">/links</HeaderLink>
  </nav>
</header>
<style>
  header {
    margin: 0.25em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  nav {
    padding: 0.5em;
  }

  .header-site-name {
    font-size: 1.25em;
    font-weight: 800;
  }
</style>
