---
import { SITE_AUTHOR, SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<div class="page-title">
  <center>
    <span class="title">{SITE_TITLE}</span>
    <hr />
    <span class="description"><i>{SITE_DESCRIPTION}</i></span>
  </center>
</div>
<style>
  .page-title {
    margin: 1em 0;
  }

  .title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .description {
    font-size: 1.08rem;
  }
  
  center {
  }

  /* on small screens, stack column wise */
  @media (max-width: 768px) {
    .title {
      font-size: 2.2rem;
    }
  } 

</style>
