---
import { SITE_AUTHOR, SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<div class="page-title">
  <center>
    <span class="title">{SITE_TITLE}</span>
    <hr />
    <i>{SITE_DESCRIPTION}</i>
  </center>
</div>
<style>
  .page-title {
    margin: 1em 0;
  }

  .title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
</style>
